img {
  width: 40%;
  height: auto;
  padding: 4%
}

#fitPhoto{
  width: 70%;
}

.imgContainer{
  display: inline;
}

#selectorContainer{
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
}

.MuiTabs-flexContainer{
  justify-content: center;
}
