div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu img {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.thisshouldbeaphoto {
  height: 100px;
  width: 100px;
  background-color: blueviolet ;
  margin: 10px;
}